/* START BASIC STYLES */
html 
    height: 100% 
 
body  
    line-height: 1.6 
    hyphens: auto 
*  
    -webkit-box-: border-box 
    -moz-box-: border-box 
    box-sizing: border-box 
 


a 
    text-decoration: none  
    &:hover 
        text-decoration: none 
        outline: 0

    &:active 
        outline: 0

img  
    border: none 
    vertical-align: middle 
 


.clearfix:before,
.clearfix:after  
    content: " " 
    display: table 
 

.clearfix:after  
    clear: both 
 

.left  
    float: left  
.right  
    float: right  
/* END BASIC STYLES */