@import '_var.sass'
@import '_reset.sass'
@import '_basic-styles.sass'
@import '_font.sass'
@import '_mixins.sass'

/* START CUSTOMER SECTION */
html 
	font-size: 10px
body 
	font-family: $main-f-f
	color: $main-f-c
header
	padding-top: 2.2rem

.logo
	margin-bottom: 3.4rem
	span
		font-family: 'Times new Roman', serif
		font-weight: bold
		float: left
		display: block
		font-size: 4rem
		color: #000
.logo-a
	display: block
	color: #000

.logo-h3
	font-size: 1.6rem
	color: #847984
.logo-h2
	font-size: 1.8rem
	font-weight: bold
	color: #000
.logo-h2, .logo-h3
	padding-top: .6rem
	margin: 0
	margin-left: 3.4rem
.search 
	position: relative
	i
		position: absolute
		z-index: 999
		top: .6rem
		left: 2.2rem
		color: #d2bed1
.search-input
	padding-left: 2.4rem
	width: 26rem
	height: 2.8rem
	box-shadow: inset 0 0 2px #d2bed1
	border: 1px solid #d2bed1
	+border-radius(2rem) 
	&:focus 
		border: 1px solid #4285be
.main-h1
	font-size: 3.8rem
	font-weight: bold
	padding: 0 2rem
#main
	max-width: 940px
	margin: 0 auto
	margin-top: 3rem
	margin-bottom: 5rem
/* start book-shop */
.main-book
	position: relative
	p 
		max-width: 21rem
		margin: 20px auto
.main-book-a
	box-shadow: 0px 3px 20px #333
	border: none
	transition: all .2s ease-in-out
	&:hover
		box-shadow: 0px 3px 10px #333
.main-book-img
	max-width: 42rem
	border: none
.main-book-a
	margin: 0 auto
	max-width: 42rem
	display: inline-block
.left-sidebar 
	position: absolute
	top: 0 
	left: 0
.right-sidebar 
	position: absolute
	top: 0 
	right: 0
#book-description
	text-align: center
	margin: 30px auto
	max-width: 39rem
.book-price-about
	text-align: center
	p 
		max-width: 42rem
		color: #ccc
#buy-button 		
	margin: 0 auto
	box-shadow: 0 4px 10px #333
	color: #fff
	display: block
	width: 44rem
	height: 7.5rem
	padding-top: 1rem
	font-size: 3.2rem
	+border-radius(10px)
	background-color: #855787
	background-image: linear-gradient(to bottom, #855787, #633c65)
	text-decoration: none
	transition: all .4s ease-in-out
	&:hover, &:visited, &:active
		box-shadow: 0 4px 5px #333
		color: #fff
		text-decoration: none

.books-shop
	text-align: center
	h5
		display: none
		font-weight: normal
		margin-top: 20px
		line-height: 1.7
.book-small-a
	display: block
	padding-top: 2px
	color: #4285be
	&:hover
		color: #bd5244
.book-a-img
	box-shadow: 2px 2px 5px #333
	display: block
	width: 100%
	max-width: 210px
	margin: 0 auto
	height: 100%
	transition: all .2s ease-in-out
	color: #fff
	&:hover
		box-shadow: 4px 4px 10px #333
		color: #fff
.main-button
	margin-top: 1rem
	margin-bottom: 3rem
	height: 4.4rem
	width: 27rem
	border: 1px solid #4285be
	font-size: 1.6rem
	color: #4285be
	background-color: $main-bg-c
	+border-radius(.5rem)
	transition: all .2s ease-in-out
	&:hover
		color: #fff
		background-color: #4285be
		text-decoration: none
/* end book-shop */
/* start about */
.about-1 
	margin: 0 auto
	text-align: center
.about-p
	padding: 0 1rem
	font-size: 2.4rem
	text-align: center
	max-width: 880px
	margin: 2rem auto
	margin-bottom: 1rem
.history, .w-640
	padding: 0 1rem
	max-width: 640px
	margin: 0 auto
.main-h2 
	font-size: 3.2rem
	font-weight: bold
.main-p
	font-size: 1.9rem
	padding: 0 1rem
.main-h3 
	font-size: 2.4rem
	font-weight: bold
.avatars
	img
		padding: 2rem
		+border-radius(50%)
.about-staff
	border-top: 1px solid #000
	border-bottom: 1px solid #000
	padding: 50px 0
	max-width: 880px
	margin: 50px auto
	font-family: 'als', monaco
	font-size: 3.6rem

/* end about */
.footer-a
	box-shadow: 0px 0px 10px #333
	display: block
	width: 300px
	margin: 0 auto
	transition: all .2s linear
	&:hover
		box-shadow: 0px 0px 3px #333
#bookDetails
	display: none
footer
	margin-top: 7rem
.book-li
	padding: 3%

#book-id
	display: none
#order-list
	a 
		color: tomato
		text-decoration: underline
		transition: all .4s ease-in-out
		&:hover
			text-decoration: none	
#success-message, #error-message
	display: none
@media (min-width:768px)
	.main-h1
		font-size: 5.2rem
	.books-shop
		h5 
			display: block

@media (max-width:1100px)
	.main-book
		padding: 0 3%
		position: relative
	.main-book-img
		width: 100%
	.main-book-a
		margin: 0 auto
		max-width: 42rem
		display: inline-block
	.left-sidebar 
		position: relative
		top: 0 
		left: 0
	.right-sidebar 
		position: relative
		top: 0 
		right: 0	




