/* START RESET settingg for css */
/*==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
}

/* END reset settingg for css */
/*==============================*/
/* START BASIC STYLES */
html {
  height: 100%;
}

body {
  line-height: 1.6;
  hyphens: auto;
}

* {
  -webkit-box-: border-box;
  -moz-box-: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:active {
  outline: 0;
}

img {
  border: none;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* END BASIC STYLES */
@font-face {
  font-family: 'als';
  src: url("../fonts/alsfuchsia.otf") format("opentype");
}

/* START CUSTOMER SECTION */
html {
  font-size: 10px;
}

body {
  font-family: "Arial", "Tahoma", sans-serif;
  color: #000;
}

header {
  padding-top: 2.2rem;
}

.logo {
  margin-bottom: 3.4rem;
}

.logo span {
  font-family: 'Times new Roman', serif;
  font-weight: bold;
  float: left;
  display: block;
  font-size: 4rem;
  color: #000;
}

.logo-a {
  display: block;
  color: #000;
}

.logo-h3 {
  font-size: 1.6rem;
  color: #847984;
}

.logo-h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}

.logo-h2, .logo-h3 {
  padding-top: .6rem;
  margin: 0;
  margin-left: 3.4rem;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  z-index: 999;
  top: .6rem;
  left: 2.2rem;
  color: #d2bed1;
}

.search-input {
  padding-left: 2.4rem;
  width: 26rem;
  height: 2.8rem;
  box-shadow: inset 0 0 2px #d2bed1;
  border: 1px solid #d2bed1;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}

.search-input:focus {
  border: 1px solid #4285be;
}

.main-h1 {
  font-size: 3.8rem;
  font-weight: bold;
  padding: 0 2rem;
}

#main {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

/* start book-shop */
.main-book {
  position: relative;
}

.main-book p {
  max-width: 21rem;
  margin: 20px auto;
}

.main-book-a {
  box-shadow: 0px 3px 20px #333;
  border: none;
  transition: all .2s ease-in-out;
}

.main-book-a:hover {
  box-shadow: 0px 3px 10px #333;
}

.main-book-img {
  max-width: 42rem;
  border: none;
}

.main-book-a {
  margin: 0 auto;
  max-width: 42rem;
  display: inline-block;
}

.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
}

.right-sidebar {
  position: absolute;
  top: 0;
  right: 0;
}

#book-description {
  text-align: center;
  margin: 30px auto;
  max-width: 39rem;
}

.book-price-about {
  text-align: center;
}

.book-price-about p {
  max-width: 42rem;
  color: #ccc;
}

#buy-button {
  margin: 0 auto;
  box-shadow: 0 4px 10px #333;
  color: #fff;
  display: block;
  width: 44rem;
  height: 7.5rem;
  padding-top: 1rem;
  font-size: 3.2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #855787;
  background-image: linear-gradient(to bottom, #855787, #633c65);
  text-decoration: none;
  transition: all .4s ease-in-out;
}

#buy-button:hover, #buy-button:visited, #buy-button:active {
  box-shadow: 0 4px 5px #333;
  color: #fff;
  text-decoration: none;
}

.books-shop {
  text-align: center;
}

.books-shop h5 {
  display: none;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.7;
}

.book-small-a {
  display: block;
  padding-top: 2px;
  color: #4285be;
}

.book-small-a:hover {
  color: #bd5244;
}

.book-a-img {
  box-shadow: 2px 2px 5px #333;
  display: block;
  width: 100%;
  max-width: 210px;
  margin: 0 auto;
  height: 100%;
  transition: all .2s ease-in-out;
  color: #fff;
}

.book-a-img:hover {
  box-shadow: 4px 4px 10px #333;
  color: #fff;
}

.main-button {
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 4.4rem;
  width: 27rem;
  border: 1px solid #4285be;
  font-size: 1.6rem;
  color: #4285be;
  background-color: #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out;
}

.main-button:hover {
  color: #fff;
  background-color: #4285be;
  text-decoration: none;
}

/* end book-shop */
/* start about */
.about-1 {
  margin: 0 auto;
  text-align: center;
}

.about-p {
  padding: 0 1rem;
  font-size: 2.4rem;
  text-align: center;
  max-width: 880px;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.history, .w-640 {
  padding: 0 1rem;
  max-width: 640px;
  margin: 0 auto;
}

.main-h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.main-p {
  font-size: 1.9rem;
  padding: 0 1rem;
}

.main-h3 {
  font-size: 2.4rem;
  font-weight: bold;
}

.avatars img {
  padding: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.about-staff {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 50px 0;
  max-width: 880px;
  margin: 50px auto;
  font-family: 'als', monaco;
  font-size: 3.6rem;
}

/* end about */
.footer-a {
  box-shadow: 0px 0px 10px #333;
  display: block;
  width: 300px;
  margin: 0 auto;
  transition: all .2s linear;
}

.footer-a:hover {
  box-shadow: 0px 0px 3px #333;
}

#bookDetails {
  display: none;
}

footer {
  margin-top: 7rem;
}

.book-li {
  padding: 3%;
}

#book-id {
  display: none;
}

#order-list a {
  color: tomato;
  text-decoration: underline;
  transition: all .4s ease-in-out;
}

#order-list a:hover {
  text-decoration: none;
}

#success-message, #error-message {
  display: none;
}

@media (min-width: 768px) {
  .main-h1 {
    font-size: 5.2rem;
  }
  .books-shop h5 {
    display: block;
  }
}

@media (max-width: 1100px) {
  .main-book {
    padding: 0 3%;
    position: relative;
  }
  .main-book-img {
    width: 100%;
  }
  .main-book-a {
    margin: 0 auto;
    max-width: 42rem;
    display: inline-block;
  }
  .left-sidebar {
    position: relative;
    top: 0;
    left: 0;
  }
  .right-sidebar {
    position: relative;
    top: 0;
    right: 0;
  }
}
