<!-- start about -->
	<section class="about container text-left">
		<div class="row about-1">
			<h1 class="main-h1">Вы работаете — мы отдыхаем</h1>
			<p class="about-p">Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.</p>
		</div>
		<div class="row">
			<div class="history">
				<h2 class="main-h2">История названия</h2>
				<p class="main-p">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века «Манн, Иванов и Фербер». После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.</p>
			</div>
		</div>
		<div class="row avatars">
			<img class="col-xs-6 col-sm-2" src="images/avatar1.png" alt="avatar1"> 
			<img class="col-xs-6 col-sm-2" src="images/avatar2.png" alt="avatar2">
			<img class="col-xs-6 col-sm-2" src="images/avatar3.png" alt="avatar3">
			<img class="col-xs-6 col-sm-2" src="images/avatar4.png" alt="avatar4">
			<img class="col-xs-6 col-sm-2" src="images/avatar5.png" alt="avatar5">
			<img class="col-xs-6 col-sm-2" src="images/avatar6.png" alt="avatar6">
		</div>
		<div class="row founders">
			<section class="w-640">
				<h2 class="main-h2">Основатели</h2>
				<h3 class="main-h3">Филип Джей Фрай</h3>
				<p class="main-p">
					В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.
					Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.
					Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.
				</p>
				<h3 class="main-h3">
					Бендер Сгибатель Родригес великий, незаконнособранный
				</h3>
				<p class="main-p">
					Бендер Сгибатель Родригез, более известный как Бендер — один из главных персонажей «Футурамы». Он был сделан в Мексике (Тихуана) в 2997 году. Имеет серийный номер 2716057. Бендер пьет большое количество алкоголя, чтобы подзарядить свои топливные элементы. Когда он отрыгивает, из его рта выход огонь. Авантюрист, любит курить сигары. В настоящее время живет с Фраем в квартире.
				</p>
			</section>
			<section class="staff w-640">
				<h2 class="main-h2">Сотрудники</h2>
				<h3 class="main-h3">Скраффи Скраффингтон</h3>
				<p class="main-p">
					Скраффи Скраффингтон, или просто Скраффи — уборщик в компании «Планет Экспресс». О нём часто повторяют шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций «Планет Экспресса», и это больше, чем у остальных сотрудников, поскольку он «больше всех любит свою компанию» (по его словам). 
					Скраффи ленив и его обычно можно увидеть в подвале здания штаб «Планет Экспресс», где он читает журнал «Zero-G Jugg» или «National Pornographic» (рус. «Нэшнл Порнографик»). Обычно о себе говорит в третьем лице.
				</p>
			</section>
			<section class="text-center about-staff">
				<p>Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия
				</p>
			</section>
			<section class="staff w-640">
				<h3 class="main-h3">Ужасный студень</h3>
				<p class="main-p">
					Добродушный пришелец, но прибегает к насилию даже при малейшей провокации. Как правило глотает негодяя.
				</p>
				<h3 class="main-h3">Калькулон</h3>
				<p class="main-p">Рекламное лицо компании.</p>
				<h3 class="main-h3">Зепп Бранниган</h3>
				<p class="main-p">
					Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган, англ. Webelo Zapp Brannigan) — персонаж, человек, капитан корабля Нимбус. Питает страстью к Лиле, но она не отвечает взаимностью. Имеет собственного помощника 
					<ul class="main-p main-ul">
						<li>- Потереть спинку;</li>
						<li>- подать свежее нижнее белье в душ;</li>
						<li>- позвонить в службу доставки парфюма и угрозами об уничтожении  выпросить 99% скидку на любимые духи Зеппа;</li>
						<li>- помыть посуду;</li>
						<li>- передать вон той леди, как Зепп ее сильно желает.</li>
					</ul>
					<p class="main-p">
						В остальном Киф доволен службой в Ограниченных Галактических Непобедимых войсках на должности помощника генерала.
					</p>
				</p>
			</section>
		</div>
	</section>