<!-- START First main book render -->
<div id="main-book" class="row text-center main-book">
	<a href="#" class="main-book-a"><img ng-src="{{singleBook.cover.large}}" alt="" class="main-book-img"></a>
	<p id="book-description">
		{{singleBook.description}}
	</p>
	<ul class="left-sidebar">
		<li>						
			<a><img ng-src="{{singleBook.reviews[0].author.pic}}"/></a>
			<p>{{singleBook.reviews[0].cite}}</p>
		</li>
		<li>						
			<a><img ng-src="{{singleBook.reviews[1].author.pic}}"/></a>
			<p>{{singleBook.reviews[1].cite}}</p>
		</li>
	</ul>
	<ul class="right-sidebar">
		<li>						
			<a><img ng-src="{{singleBook.features[0].pic}}"/></a>
			<p>{{singleBook.features[0].title}}</p>
		</li>
		<li>						
			<a><img ng-src="{{singleBook.features[1].pic}}"/></a>
			<p>{{singleBook.features[1].title}}</p>
		</li>
	</ul>
	<div class="book-price-about">
		<a ng-click="showOrderPage()" id="buy-button" href="#">Купить за жалкие {{singleBook.price}}Z</a>
		<p>Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
		<img src="images/face-cleaner.png" alt="Уборщик-фото">
	</div>
</div>
<div ng-include="'order.html'" class="container" id="main-order"></div>
<!-- END First main book render -->