﻿<!DOCTYPE html>
<html lang="RU" ng-app="BookApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Moryakov Leonid</title>
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <!-- .sidebar>ul>li*3>a[href="#"]{текст_$}*3 -->
</head>
<body ng-controller="BookListCtrl">
	<section class="container">
		<header>
			<div class="row">
				<a ng-click="showMainPage($event)" href="#" class="logo-a">
					<div class="logo col-xs-12 col-sm-9 text-left">
						<!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
						<span>C</span>
						<h3 class="logo-h3">Издательстьво</h3>
						<h2 class="logo-h2"> Фрай, без штанов и Бендер</h2>
						<!-- {{book1}} -->
					</div>
				</a>
				<div class="search col-xs-12 col-sm-3">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input ng-model="query" class="search-input" type="text" placeholder="Поиск, скорей всего, не работает">
					<p ng-show="query">
					    Выведены книги, содержащие
					    {{query}}
					</p>
				</div>
			</div>
			<div class="row">
				<h1 id="main" class="main-h1 text-center">
					Мы издаем книги — вы их можете не читать
				</h1>
			</div>
		</header>
	</section>
	<!-- start book-shop -->
	<section id="about-container" class="books-shop container"></section>
	<section id="main-container" class="books-shop container">
		<div class="row">
			<h1 class="text-center header-h1">Самое незаметное издательство</h1>
			<h5 class="text-center main-p w-640">
				Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.
			</h5>
			<!-- book-list render -->
			<ul id="main-book-list">
				<li ng-repeat="book in books | filter:query" class="book-li text-center col-xs-12 col-sm-6 col-md-3">
					<a class="book-a-img" href="" ng-click="showBookDetails($event)" ng-href="https://netology-fbb-store-api.herokuapp.com/book/{{book.id}}"><img ng-src="{{book.cover.small}}" width="210px" height="300px" /></a><br>
					<a class="book-small-a"  href="" ng-click="showBookDetails($event)" ng-href="https://netology-fbb-store-api.herokuapp.com/book/{{book.id}}">{{book.reviews[0].cite}}</a>
				</li>
			</ul>
			<!-- end book-list render -->
		</div>
	<button class="main-button">Еще несколько книг</button>
	</section>
	<!-- end book-shop -->
	<div ng-include="'book-details.html'" class="container" id="bookDetails"></div>
	<footer>
		<a ng-click="showAboutPage($event)" class="footer-a" href="#">
			<img src="images/footer-bender.png" alt="Издательство Фрай">
		</a>
	</footer>
	<script>var bookApp</script>
	<script src="js-production/libs.js"></script>
	<script src="js-production/main.js"></script>
</body>

</html>
