<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    border: 2px solid #FA787E;
  }

  .css-form input.ng-valid.ng-dirty {
    border: 2px solid #78FA89;
  }
</style>
<div class="container" id="order-list">
	<div class="row">
		<h2>Оформить заказ на книгу <a ng-click="showBookDetails($event)" ng-href="https://netology-fbb-store-api.herokuapp.com/book/{{singleBook.id}}">{{singleBook.title}}</a></h2>
		<p id="book-id" ng-src="{{singleBook.price}}">{{singleBook.id}}</p>
		<form class="css-form" name="form" action="" novalidate>
			<div class="col-xs-12 col-sm-4">
				<div class="form-group">
				  <label for="name">Имя*</label>
				  <input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Имя" required>
				</div>
				<div class="form-group">
				  <label for="phone">Телефон*</label>
				  <input type="number" ng-model="user.phone" class="form-control" id="phone" placeholder="Телефон" required>
				</div>
				<div class="form-group">
				  <label for="email">Эл.адрес*</label>
				  <input type="email" ng-model="user.email" class="form-control" id="email" name="email" placeholder="Email" required>
				</div>
				<div ng-show="form.email.$dirty && form.email.$invalid">Ошибка:
				  <span ng-show="form.email.$error.required">Введите ваш e-mail</span>
				  <span ng-show="form.email.$error.email">Формат e-mail неверен, проверьте, пожалуйста, поле для ввода</span>
				</div>
				<label>Способ доставки</label><br>
				<input ng-click="showTotalPrice1()" ng-model="checked1" type="radio" id="delivery-01" name="radio1-group"  value="delivery-01"> {{delivery[0].name +" - бесплатно"}}
				<br>
				<input ng-click="showTotalPrice2()" ng-model="checked2" ng-src="{{delivery[1].price}}" type="radio" name="radio1-group" id="delivery-02" value="delivery-02"> {{delivery[1].name + " - " + delivery[1].price + " Z"}} 
				<br>
				<br>
				<textarea ng-show="checked2" ng-hide="checked1" name="deliveryAdress" id="deliveryAdress" rows="4" cols="50" placeholder="Укажите ваш адрес доставки"></textarea>
				<br>
				<br>
			</div>
			<div class="col-xs-12 col-sm-4">
				<label for="comment">Комментарии к заказу:</label>
				<textarea class="form-control" name="comment" id="comment" rows="8"></textarea>
				<br>
				<label>Способы оплаты</label><br>
				<input type="radio" name="radio2-group" id="payment-01" value="payment-01"> {{payment[0].title}}<br>
				<input type="radio" name="radio2-group" id="payment-02" value="payment-02"> {{payment[1].title}}
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<br>
				<img ng-src="{{singleBook.cover.small}}" width="210px" height="300px" />
			</div>
		</form>
	</div>
	<div class="text-left">
		<h2 id="total">Итого к оплате: {{singleBook.price + "Z"}}</h2>
		<button ng-click="sendOrder($event)" ng-disabled="form.$invalid || isUnchanged(user)" id="order-btn" class="btn btn-success">Оформить заказ</button>
	</div>
</div>
<div id="error-block" class="container">
	<div class="row" id="success-message">
		<h2>Спасибо! Ваш заказ принят и находится в стадии обработки. В случае необходимости, менеджер свяжется с Вами</h2>
		<a ng-click="showMainPage($event)" href="#">Перейти на главную страницу</a>
	</div>
	<div class="row" id="error-message">
		<h3 id="err-response-message"></h3>
		<h3><a ng-click="showMainPage($event)" href="#">Перейти на главную страницу</a></h3>
	</div>
</div>